<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.key, height: 600, width: 800, crop: :fill %>');">
  <div class="banner-container">
    <h1> <%= @cocktail.name %> </h1>
  </div>
</div>
<div class="container py-4 cocktail-page">
  <div class="row">
  <div class="cocktail-box col-md-7">
    <h3>Description:</h3>
    <p><%= @cocktail.description %></p>


  </div>

  <div class="cocktail-box col-md-5">
    <div>
      <% if @cocktail.doses.empty? %>
      <p>
        No ingredients yet. Add yours!
      </p>
      <% else %>
      <h3> Ingredients </h3>
      <% end %>
    </div>


      <% @cocktail.doses.each do |dose| %>
      <div class="d-flex">
      <p><i class="fas fa-glass-whiskey"></i></i> <strong> <%= dose.ingredient.name %> - </strong><%= dose.description %>
        (<%= link_to "Edit", edit_cocktail_dose_path(@cocktail, dose) %>)
        (<%= link_to "Remove", dose_path(dose), method: :delete  %>)
        </p>
      </div>
      <% end %>

    <div>
      <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary", id: "ingredient-add-button"%>
      <%= link_to "Go back", cocktails_path, class: "btn btn-outline-warning" %>
      <%= link_to 'Delete Cocktail', @cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-xs" %>
    </div>
  </div>
</div>

</div>
